.body {
    font-family: Arial, sans-serif;
    background-color: #6499E9; 
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
nav{
    margin: 10px;
    padding-left: 10px;
}
 

.container {
    max-width: 300px;
    width: 60%;
    background-color: #D2E0FB; 
    padding: 20px;
    box-shadow: 6px 11px 30px 8px rgba(0,0,0,0.75);
    
}
.header {
    background-color: #D2E0FB; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h2 {
    font-size: 24px;
    margin: 0;
}

#formulario {
    text-align: left;
    margin-bottom: 20px;
    background-color: #D2E0FB;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0B666A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.card p {
    margin: 5px 0;
}

.card button {
    margin-right: 5px;
}
